
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #000;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: darkred;
  margin: 5px 0;
  transition: 0.4s;
}

/* Media query */
@media (max-width: 768px) {
  .menu {
    display: none; /* Oculta el menú horizontal */
  }

  .menu-icon {
    display: flex; /* Muestra el menú hamburguesa */
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #333;
    padding: 10px;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0; 
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

/*HOME*/
.home-section {
  background-image: url('../img/fondo1.jpg');
  background-position: center;
  padding-bottom:10px ;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.home-section h1 {
  color: #fff; /* Color azul para h2 */
}
